@import 'tailwindcss';
@config "../../tailwind.config.mjs";

:root {
    --accent: #dd1919;
    --bg: #fff;
    --black: #4a4a4a;
    --gray: #f8f8f8;

    touch-action: pan-x pan-y;
    height: 100%;
}

body {
    color: rgb(var(--black));
    background-color: var(--bg);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: none;
}

html {
    overscroll-behavior: none;
}

a {
    -webkit-touch-callout: none;
}

[vaul-drawer][vaul-drawer-direction='bottom']:after {
    z-index: -1;
}

[vaul-drawer] {
    z-index: 1000;
}

.onevision-widget {
    z-index: 1000;
    background-color: white;
    padding: 40px 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
