@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #dd1919;
    --bg: #fff;
    --black: #4a4a4a;
    --gray: #f8f8f8;

    touch-action: pan-x pan-y;
    height: 100%;
}

body {
    color: rgb(var(--black));
    background-color: rgb(var(--bg));
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: none;
}

html {
    overscroll-behavior: none;
}

a {
    -webkit-touch-callout: none;
}
