@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #dd1919;
    --bg: #fff;
    --black: #4a4a4a;
}

body {
    color: rgb(var(--black));
    background-color: rgb(var(--bg));
}
